@use '../../scss/util' as u;

.dest {
    min-height: 100vh;
    padding: u.toRem(88) 0 u.toRem(58);
    background: var(--dest-mobile);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @include u.breakpoint('medium') {
        background: var(--dest-tablet);
        padding: u.toRem(202) 0 u.toRem(90);
    }

    @include u.breakpoint('large') {
        padding-bottom: u.toRem(131);
        background: var(--dest-desktop);
    }
}

