@use '../../scss/util' as u;

.mobile-menu {
    position: absolute;
    right: 0;
    top: 0;
    width: u.toRem(254);
    height: 100%;
    background: var(--mm-bg);
    backdrop-filter: blur(40.7742px);
    padding: u.toRem(118) u.toRem(26);
    z-index: 10;
}