@use '../util' as u;

.container {
    width: 85%;
    margin: 0 auto;

    // @include u.breakpoint('medium'){
    //     max-width: u.toEm(768);
    // }

    @include u.breakpoint('large'){
        max-width: u.toEm(1440);
    }
}