html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
::after,
::before {
  margin-top: 0;
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: var(--default-bg);
  font-family: var(--primary-ft);
  font-weight: 400;
  font-size: 0.9375rem;
  line-height: 1.5625rem;
  color: var(--txt-clr);
}
@media (min-width: 43.75em) {
  body {
    font-size: 1rem;
    line-height: 1.75rem;
  }
}
@media (min-width: 81.125em) {
  body {
    font-size: 1.125rem;
    line-height: 2rem;
  }
}

.btn {
  cursor: pointer;
  color: inherit;
  font-family: inherit;
}
.btn__transparent {
  border: none;
  background-color: transparent;
  border-bottom: 3px solid transparent;
}
.btn__transparent:hover {
  border-bottom: 3px solid var(--white-hov);
}

.numb {
  font-weight: 700;
  opacity: 0.25;
  margin-right: 1.125rem;
  letter-spacing: inherit;
}

.dot {
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--white);
  opacity: 0.17;
}
@media (min-width: 81.125em) {
  .dot {
    width: 15px;
    height: 15px;
  }
}

img {
  pointer-events: none;
}

hr {
  border: none;
  height: 1px;
  background-color: var(--hr-clr);
  margin-bottom: 2rem;
}

h1 {
  font-weight: inherit;
  font-size: 5rem;
  line-height: 6.25rem;
}
@media (min-width: 43.75em) {
  h1 {
    font-size: 9.375rem;
    line-height: 9.375rem;
  }
}
@media (min-width: 81.125em) {
  h1 {
    line-height: 10.74375rem;
  }
}

h2 {
  font-weight: inherit;
  font-size: 3.5rem;
  line-height: 4.01125rem;
}
@media (min-width: 43.75em) {
  h2 {
    font-size: 5rem;
    line-height: 5.73rem;
  }
}
@media (min-width: 81.125em) {
  h2 {
    font-size: 6.25rem;
    line-height: 7.1625rem;
  }
}

h4 {
  font-weight: inherit;
  font-size: 1.5rem;
  line-height: 1.71875rem;
}
@media (min-width: 81.125em) {
  h4 {
    font-size: 2rem;
    line-height: 2.291875rem;
  }
}

h5 {
  font-weight: inherit;
  font-size: 1rem;
  line-height: 1.1875rem;
  letter-spacing: 2.7px;
}
@media (min-width: 43.75em) {
  h5 {
    font-size: 1.25rem;
    line-height: 1.5rem;
    letter-spacing: 3.38px;
  }
}
@media (min-width: 81.125em) {
  h5 {
    font-size: 1.75rem;
    line-height: 2.1rem;
    letter-spacing: 4.72px;
  }
}

.subheading1 {
  font-size: 1.75rem;
}

.subheading2 {
  font-size: 0.875rem;
  letter-spacing: 2.35px;
}

.eyebrow {
  display: block;
  font-family: var(--acent-ft);
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.14625rem;
}

h1, h2, h4, .subheading1, .eyebrow {
  font-family: var(--accent-ft);
}

h5, .subheading2 {
  font-family: var(--secondary-ft);
}

.uppercase {
  text-transform: uppercase;
}

:root {
  --default-bg: hsl(230, 35%, 7%);
  --txt-clr: hsl(231, 77%, 90%);
  --white: hsl(0, 0%, 100%);
  --white-hov: hsla(0, 0%, 100%, 0.3);
  --mm-bg: rgba(255, 255, 255, 0.04);
  --hr-clr: hsl(231, 15%, 26%);
  --dark-grd: linear-gradient(hsla(234, 28%, 7%, 0.2), hsla(234, 28%, 7%, 0.2));
  --primary-ft: "Barlow", sans-serif;
  --secondary-ft: "Barlow Condensed", sans-serif;
  --accent-ft: "Bellefair", serif;
  --home-mobile: var(--dark-grd), url("../assets/home/background-home-mobile.jpg") center/cover no-repeat;
  --home-tablet: var(--dark-grd), url("../assets/home/background-home-tablet.jpg") center/cover no-repeat;
  --home-desktop: var(--dark-grd), url("../assets/home/background-home-desktop.jpg") center/cover no-repeat;
  --dest-mobile: var(--dark-grd), url("../assets/destination/background-destination-mobile.jpg") center/cover no-repeat;
  --dest-tablet: var(--dark-grd), url("../assets/destination/background-destination-tablet.jpg") center/cover no-repeat;
  --dest-desktop: var(--dark-grd), url("../assets/destination/background-destination-desktop.jpg") center/cover no-repeat;
  --crew-mobile: var(--dark-grd), url("../assets/crew/background-crew-mobile.jpg") center/cover no-repeat;
  --crew-tablet: var(--dark-grd), url("../assets/crew/background-crew-tablet.jpg") center/cover no-repeat;
  --crew-desktop: var(--dark-grd), url("../assets/crew/background-crew-desktop.jpg") center/cover no-repeat;
}

.container {
  width: 85%;
  margin: 0 auto;
  max-width: 90em;
}

.flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app {
  position: relative;
}/*# sourceMappingURL=style.css.map */