@use '../util' as u;

.numb {
    font-weight: 700;
    opacity: .25;
    margin-right: u.toRem(18);
    letter-spacing: inherit;
}

.dot {
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--white);
    opacity: .17;

    @include u.breakpoint('large'){
        width: 15px;
        height: 15px;
    }
}

img {
    pointer-events: none;
}

hr {
    width: 100%;
    border: none;
    height: 1px;
    background-color: var(--hr-clr);
    margin-bottom: u.toRem(32);
}