@use '../util' as u;

h1 {
    font-weight: inherit;
    font-size: u.toRem(80);
    line-height: u.toRem(100);

    @include u.breakpoint('medium'){
        font-size: u.toRem(150);
        line-height: u.toRem(150);
    }

    @include u.breakpoint('large'){
        line-height: u.toRem(171.9);
    }
} 

h2 {
    font-weight: inherit;
    font-size: u.toRem(56);
    line-height: u.toRem(64.18);

    @include u.breakpoint('medium'){
        font-size: u.toRem(80);
        line-height: u.toRem(91.68);
    }

    @include u.breakpoint('large'){
        font-size: u.toRem(100);
        line-height: u.toRem(114.6);
    }
}

h4 {
    font-weight: inherit;
    font-size: u.toRem(24);
    line-height: u.toRem(27.5);

    @include u.breakpoint('medium'){
        font-size: u.toRem(40);
        line-height: u.toRem(45.84);
    }

    @include u.breakpoint('large'){
        font-size: u.toRem(32);
        line-height: u.toRem(36.67);
    }
}

h5 {
    font-weight: inherit;
    font-size: u.toRem(16);
    line-height: u.toRem(19);
    letter-spacing: 2.7px;

    @include u.breakpoint('medium'){
        font-size: u.toRem(20);
        line-height: u.toRem(24);
        letter-spacing: 3.38px;
    }

    @include u.breakpoint('large'){
        font-size: u.toRem(28);
        line-height: u.toRem(33.6);
        letter-spacing: 4.72px;
    }
}

.subheading1 {
    font-size: u.toRem(28);
}

.subheading2 {
    font-size: u.toRem(14);
    letter-spacing: 2.35px;
}

.eyebrow {
    display: block;
    font-family: var(--acent-ft);
    font-weight: 400;
    font-size: u.toRem(16);
    line-height: u.toRem(18.34);

    @include u.breakpoint('medium'){
        font-size: u.toRem(24);
        line-height: u.toRem(27.5);
    }
}

.eyebrow2 {
    display: block;
    font-family: var(--acent-ft);
    font-weight: 400;
    font-size: u.toRem(14);
    line-height: u.toRem(16.8);
    letter-spacing: 2.36px;

    @include u.breakpoint('medium'){
        font-size: u.toRem(16);
        line-height: u.toRem(19.2);
        letter-spacing: 2.7px;
    }
}

h1, h2, h4, .subheading1, .eyebrow, .eyebrow2 {
    font-family: var(--accent-ft);
}

h5, .subheading2 {
    font-family: var(--secondary-ft);
}

.uppercase {
    text-transform: uppercase;
}